<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Our Hotel Rooms</title>
</head>
<body>
    <header>
        <nav>
            <button> <a th:href="@{/login}">Login</a> </button>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </nav>
    </header>

    <table>
        <tr>
            <th>Room Number</th>
            <th>Room Name</th>
            <th>Bed Info</th>
        </tr>
        <tr th:each="room:${rooms}">
            <td th:text="${room.number}">Number</td>
            <td th:text="${room.name}">Name</td>
            <td th:text="${room.info}">Info</td>
        </tr>
    </table>
</body>
</html>